<?xml version="1.0" encoding="UTF-8"?>
{% set localpath = ('GLOBALS', 'localpath') %}
{% set variable = ('GLOBALS', '_DRS_variable') %}
{% set size = ('GLOBALS', 'size') %}
{% set frequency = ('GLOBALS', 'frequency') %}
{% set lat_coord = df.iloc[0][(df.iloc[0] =='latitude')].index[0][0] %}
{% set lon_coord = df.iloc[0][(df.iloc[0] =='longitude')].index[0][0] %}
<netcdf xmlns="http://www.unidata.ucar.edu/namespaces/netcdf/ncml-2.2">
  <attribute name="primary_variables" value="{{ ','.join(df[variable].unique()) }}"/>
  <attribute name="size" type="int" value="{{ df[size].sum()|int }}" />
  <attribute name="size_human" value="{{ df[size].sum()|filesizeformat }}" />

  <remove name="tracking_id" type="attribute" />
  <remove name="variable_id" type="attribute" />
  <remove name="version" type="attribute" />

  {% for v, group in df[df[frequency] != 'fx'].groupby((variable)) %}
  <dimension name="time_{{ v }}" length="{{ group[('time', 'ncoords')].sum()|int }}" />
  <variable name="time_{{ v }}" type="double" shape="time_{{ v }}">
    {% for i in group['time'].columns %}
    {% if i not in ['values', 'ncoords', 'value0', 'increment', 'regular'] %}
    <attribute name="{{ i }}" value="{{ group.iloc[0][('time', i)] }}" />
    {% endif %}
    {% endfor %}
    {% if ('mon' == df[frequency]).any() or True %}
    <values>{{ group.sort_values(by=[('GLOBALS', 'period1')])[('time', 'values')] | join(" ") }}</values>
    {% else %}
    <values start="{{ group.iloc[0][('time', 'value0')] }}" increment="{{ group[group[frequency] != 'fx'].iloc[0][('time', 'increment')] }}" />
    {% endif %}
  </variable>
  {% endfor %}

  {% for v, group in df[df[frequency] != 'fx'].groupby((variable)) %}
  <variable name="{{ group[variable].iloc[0] }}" shape="time_{{ v  }} {{ lat_coord }} {{ lon_coord }}">
    <attribute name="time" value="time_{{ v }}" />
    <attribute name="coordinates" value="time_{{ v }} {{ lat_coord }} {{ lon_coord }}" />
    <attribute name="version" type="string" value="{{ ','.join(group[('GLOBALS', '_DRS_version')].unique()) }}" />
    <attribute name="tracking_ids" type="string" value="{{ ','.join(group[('GLOBALS', 'tracking_id')]) }}" />
  </variable>
  {% endfor %}

  <aggregation type="union">
    {% for name,group in df[df[frequency] != 'fx'].sort_values(by=[variable]).groupby(variable) %}
    <netcdf>
      <aggregation type="joinExisting" dimName="time">
        {% for index, row in group.sort_values(by=[('GLOBALS', 'period1')])[['GLOBALS', 'time']].iterrows() %}
        <netcdf location="{{ row[localpath] }}" ncoords="{{ row[('time', 'ncoords')]|int }}" />
        {% endfor %}
      </aggregation>
    </netcdf>
    {% endfor %}

    {% for index, row in df[df[frequency] == 'fx']['GLOBALS'].iterrows() %}
    <netcdf location="{{ row['localpath'] }}" />
    {% endfor %}
  </aggregation>
</netcdf>
